<?php

$info_database = array(
    "server"    => "%db_host%",
    "user"      => "%db_username%",
    "password"  => "%db_password%",
    "database"  => "%db_name%"
);

define( "URL_ROOT", "%path_url_root%" );
define( "UPLOADS", "%path_upload%" );

?>
